body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #aaa;
  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
}

.nowrap {
  white-space: nowrap;
}

.ant-table-column-title, .ant-table-cell {
  white-space: nowrap;
}
